*{
    margin: 0;
    padding: 0;
    font-family: 'Gowun Batang', serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    /*background-image: linear-gradient(to bottom right, rgb(192, 250, 211), rgb(192, 250, 250));*/
    /*background-image: linear-gradient(to bottom right, #e8fae6, #faf9e6);*/
    background-image: linear-gradient(rgba(30,30,30,0.7), rgba(30,30,30,0.7)), url(images/clownfish.png);
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid black;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav a{
    font-size: 40px;
    font-family: 'MonteCarlo', cursive;
    text-decoration: none;
    color: #fff;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gowun Batang', serif;
    color: #fff;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.home-text{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.home-text p{
    color: #fff;
}
.home-text h1{
    font-size: 400%;
    color: #fff;
}
nav .far{
    display: none;
    color: #fff;
}
nav .fas{
    display: none;
    color: #fff;
}
@media(max-width: 700px){
    html, body {
        overflow-x: hidden;
    }
    .home-text h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul{
        padding: 30px;
    }
    .nav-links{
        position: absolute;
        background: #cc6a1f;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.75s;
        font-size: 20px;
    }
    nav .far{
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav .fas{
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

/* projects */
.pro-desc{
    width: 80%;
    margin: auto;
}
.project{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #f5f0e9;
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: #291800;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 20px;
    color: #291800;
}
.pro-btn{
    display: inline-block;
    text-decoration: none;
    color: #291800;
    border: 1px solid #291800;
    padding: 8px 24px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.25s;
}
.pro-btn:hover{
    /*border: 1px solid #fff;*/
    background: #ffd599;
    transition: 0.75s;
}
@media(max-width: 700px){
    .pro-desc{
        width: 90%;
        margin: auto;
    }
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.pro-col{
    flex-basis: 31%;
    background: #f5e0d0;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}
.pro-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
h3{
    color: #291800;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
        margin-top: 40px;
    }
}

.demo-desc{
    width: 80%;
    margin: auto;
}
.demo{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #f5f0e9;
}
.demo-btn{
    display: inline-block;
    text-decoration: none;
    color: #291800;
    border: 1px solid #291800;
    padding: 8px 24px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.25s;
}
.demo-btn:hover{
    /*border: 1px solid #fff;*/
    background: #ffd599;
    transition: 0.75s;
}
.demo-col{
    flex-basis: 48%;
    background: #f5e0d0;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}
.demo-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.footer{
    border-top: 1px solid #aaa;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 5px;
    margin-top: 15px;
    font-weight: 600;
    color: #777;
}
.footer p{
    color: #777;
}
.icons .fab{
    color: #f76b00;
    margin: 0 13px;
    cursor: pointer;
    padding: 5px;
    font-size: 30px;
    transition: 0.75s;
    border-radius: 10px;
}
.icons .fab:hover{
    background-color: #f76b00;
    color: #000;
    transition 0.75s;
}

/* projects.html */
/*
article {
    counter-reset: heading;
}
article h2::before{
    counter-increment: heading;
    content: counter(heading)'. ';
}
*/
.pro-header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(30,30,30,0.7), rgba(30,30,30,0.7)), url(images/blueyellowfish.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid black;
}
.pro-posts{
    width: 100%;
    background-color: #ede9f5;
}
.pro-post{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding-top: 30px;
    text-align: justify;
    text-indent: 50px;
    text-decoration: none;
}
.pro-post p{
    color: #0e0029;
    padding-top: 0;
    padding-bottom: 0;
}
/*
.pro-post p .fab{
    text-indent: 0;
    color: #7231f5;
}
.pro-post p .fab:hover{
    background-color: #7231f5;
    color: #fff;
}*/
.pro-post h2{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    text-indent: 0;
    color: #0e0029;
    padding-bottom: 20px;
}

.pro-post .fab{
    text-indent: 0;
    color: #7231f5;
    margin: 0;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    transition: 0.75s;
    border-radius: 10px;
}
.pro-post .fab:hover{
    background-color: #7231f5;
    color: #fff;
    transition 0.75s;
}
.pro-post figure{
    width: 100%;
    text-indent: 0;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 30px;
}
.pro-post figure figcaption{
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    color: #0e0029;
}
.pro-post .row{
    margin-top: 0;
}
.pro-fig-2col{
    flex-basis: 48%;
    padding: 0;
    box-sizing: border-box;
    margin-top: auto;
}
.pro-post img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}
.pro-icons .fab{
    color: #7231f5;
    margin: 0 13px;
    cursor: pointer;
    padding: 5px;
    font-size: 30px;
    transition: 0.75s;
    border-radius: 10px;
}
.pro-icons .fab:hover{
    background-color: #7231f5;
    color: #fff;
    transition 0.75s;
}
.sub-text{
    left:0;
    right:0;

    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 20%;
    
}
.sub-text h1{
    color: #fff;
    text-align: center;
    bottom: 0;
}
.transparent-img img{
    box-shadow: none;
    border-radius: 0;
}

/* Demos Page */
.demo-header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(30,30,30,0.7), rgba(30,30,30,0.7)), url(images/coral.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid black;
}
.demo-post{
    width: 80%;
    margin: auto;
    color: #002929;
}
.demo-page{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e9f5f5;
}
.demo-post .demo-col{
    background-color: #d0f5f5;
}
.demo-icons .fab{
    color: #31f5f5;
    margin: 0 13px;
    cursor: pointer;
    padding: 5px;
    font-size: 30px;
    transition: 0.75s;
    border-radius: 10px;
}
.demo-icons .fab:hover{
    background-color: #31f5f5;
    color: #fff;
    transition 0.75s;
}

/* About Page */
.about-header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(30,30,30,0.7), rgba(30,30,30,0.7)), url(images/turtle.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid black;
}

.about-page{
    width: 100%;
    background-color: #e9f5eb;
}
.about-post{
    max-width: 800px;
    width: 90%;
    color: #002907;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: justify;
}
.about-icons .fab{
    color: #31f552;
    margin: 0 13px;
    cursor: pointer;
    padding: 5px;
    font-size: 30px;
    transition: 0.75s;
    border-radius: 10px;
}
.about-icons .fab:hover{
    background-color: #31f552;
    color: #fff;
    transition 0.75s;
}

/* Individual Demos*/
.small-demo-header{
    min-height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgba(30,30,30,0.7), rgba(30,30,30,0.7)), url(images/coral.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid black;
}
.small-demo-header .sub-text{
    bottom: 5%;
}

/* LZW */
.lzw-table table{
    vertical-align: middle;
    text-align: center;
    border-spacing: 0;
}
.lzw-table table thead tr th,
.lzw-table table tr td{
    border: 1px solid #DDD;
    background-color: #FFF;
    padding: 1px;
    width: 15%;
}

.lzw-table table thead tr th {
    position: sticky;
    top: 0;
}
.lzw-table{
    flex-basis: 40%;
    margin-bottom: 5%;
    padding: 20px 12px;
    margin-left: auto;
    margin-right: auto;
}
.controls{
    flex-basis: 50%;
    margin-bottom: 5%;
    padding: 20px 12px;
    text-align: center;
}
#enc-output{
    word-break: break-word;
    overflow-y: scroll;
    line-height: 2.5;
    width: 90%;
    max-width: 600px;
    max-height: 30vh;
    margin: auto;
    
    border: 1px solid #DDD;
}
.sticky{
    position: sticky;
    top: 0;
    border: 1px solid #DDD;
    text-align: justify;
    width: 90%;
    max-height: 95vh;
    overflow-y: scroll;
    margin: auto;
    padding-bottom: 10px;
}
.output-highlight{
    padding: 5px;
    transition: transform 0.5s;
    border-radius: 5px;
}
.auto_height {
    width: 90%;
    max-width: 600px;
    margin: auto;
    display: block;
}
.txt-btn{
    text-align: center;
    padding: 5px;
}
#decimal-output{
    overflow-wrap: normal;
    overflow-y: scroll;
    width: 90%;
    max-width: 600px;
    max-height: 30vh;
    margin: auto;
    word-break: break-word;
    border: 1px solid #DDD;
}
.decimal-span{
    padding: 0;
}
@media(max-width: 700px){
    .lzw-table table thead tr th{
        font-size: 11px;
    }
    #enc-output,
    #decimal-output{
        width: 80%;
    }
}
.demo-expl{
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.demo-expl p{
    text-align: justify;
}
.stats-desc{
    width: 90%;
    max-width: 600px;
    margin: auto;
}
#lzw-stat-tab thead tr th,
#lzw-stat-tab tbody tr td,
#lzw-stat-tab tbody tr th{
    width: 30%;
    border: 1px solid #DDD;
    padding 5px;
    text-align: center;
}
#lzw-stat-tab{
    border-spacing: 0;
    vertical-align: middle;
    padding: 5px;
    margin: auto;
}
.lzw-btn{
    display: inline-block;
    text-decoration: none;
    width: 100px;
    height: 40px;
    color: #000;
    border: 1px solid #555;
    padding: 0;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.25s;
    margin-top: 5px;
}
.lzw-btn:hover{
    /*border: 1px solid #fff;*/
    background: #31f5f5;
    
    transition: 0.75s;
}
.custom-dict-sel{
    text-align: center;
    margin: auto;
}
.txt-btn .row{
    width: 80%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}
.control-col{
    flex-basis: 30%;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}
.lzw-select{
    padding: 5px;
    position: relative;
    /*
    color: #000;
    background: #b8f5f5;
    */
}
.lzw-select options{
    padding: 5px;
    position: relative;
    /*
    color: #000;
    background: #b8f5f5;
    */
}